models/*.pth
build
dist
hanabi_lib.egg-info
hanabi_lib.cpython-311-darwin.so
*.txt
*.json
*.jsonl
env
.vscode
post_processing_openai.py
output.py
post_processing_data.py
visualize_crossplay.py
training_tests.py
csrc/NetworkBot.*